.grid{
    display: grid;
    grid-template-columns: repeat(5,15%);
    column-gap: 20px;
    color: white;
    text-align: center;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

p{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.box{
    width: 90%;
    margin: 100px auto;
}

.grid > span{
    display: inline-block;
    padding: 40px;
    background-color: darkcyan;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.role:hover{
    transform: scale(1.1);
}

.clicked{
    background-color: darkred !important;
}