#card{
    display: grid;
    grid-template-columns: 30% 45% 10% 15%;
    width: 70vw;
    min-height: 140px;
    background-color: rgba(0, 4, 250, 0.13);
    backdrop-filter: blur(3px);
    font-weight: bold;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    position: relative;
    align-items: center;
    color: white;
    border-radius: 30px;
    overflow: hidden;
}
@media (max-width: 900px) {
    #card{
        width: 50vw;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.top{
    height: 80%;
    overflow: hidden;
}
.bot{
    overflow: hidden;
    min-height: 30px;
    margin: 10px;
    height: 20%;
}
.available{
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 10px;
    min-width: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: default;
}
button{
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 5px;
    cursor: pointer;
}
.plus, .minus{
    width: 30px;
}
.plusHide, .minusHide{
    display: none;
}
.lowAvailable{
    color: rgb(255, 59, 59);
}
img{
    width: 200px;
    display: block;
}
.expensive{
    border:2px solid green;
}
.cheap{
    border:2px solid red;
}
.delite, .edit{
    position: absolute;
    right: 10px;
    color: white;
    border-radius: 30px;
}
.delite:hover, .edit:hover{
    box-shadow: 0 0 10px white;
}
.delite{
    top: 10px;
    background-color: red;
    border-color: red;
}
.edit{
    bottom: 10px;
    background-color: blue;
    border-color: blue;
}