.title{
    color: lightgray;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
}


div{
    border: 2px solid white;
    background: linear-gradient(to top right, rgb(0, 195, 255), lightblue);
    padding: 30px;
    font-size: 21px;
    text-align: center;
    width: 70%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 900px) {
    div{
        width: 50%;
        font-size: 17px;
    }
}
/* @media (max-width: 700px) {
    div{
        width: 250px;
        margin-left: 0px;
        font-size: 15px;
    }
    .title{
        font-size: 20px;
        text-align: left;
    }
} */