
<div class="mainGrid">
    <div class="leftGrid" [ngClass]="{'roll':menuOpen}">
        <div class="menu-btn">
            <div class="menu-btn__burger" [ngClass]="{'open':menuOpen}"></div>
            <button (click)="toogle()" id="hamburgerBtn"> BTN </button>
        </div>
        <nav>
            <div class="menuGrid">
                <div class="leftMenu">
                    <a routerLink="/home" routerLinkActive="active"><span class="span"></span>Strona Głowna</a>
                    <a routerLink="/menu" routerLinkActive="active"><span class="span"></span>Menu</a>
                    <a routerLink="/add" routerLinkActive="active"><span class="span"></span>Nowe danie</a>
                </div>
                <div class="rightMenu">
                    <a routerLink="/bucket" routerLinkActive="active"><span class="span"></span>Koszyk</a>
                    <a routerLink="/login" routerLinkActive="active"><span class="span"></span>Login</a>
                    <a routerLink="/register" routerLinkActive="active"><span class="span"></span>Register</a>
                    <a routerLink="/home" class="loged"><span class="span"></span>Logout</a>
                </div>
            </div> 
        </nav>
    </div> 
    <div>
        <router-outlet></router-outlet>
    </div>
</div>