<div class="content">
    <div class="mainGrid">
        <div class="leftGrid" [ngClass]="{'roll':menuOpen}">
            <div class="menu-btn">
                <div class="menu-btn__burger" [ngClass]="{'open':menuOpen}"></div>
                <button (click)="toogle()" id="hamburgerBtn"> BTN </button>
            </div>
            <nav>
                <div class="menuGrid">
                    <div class="leftMenu">
                        <a routerLink="/home" routerLinkActive="active"><span class="span"></span>Strona Głowna</a>
                        <a routerLink="/menu" routerLinkActive="active"><span class="span"></span>Menu</a>
                        <a routerLink="/editmenu" routerLinkActive="active" [ngClass]="{'hide':!admin && !menager}"><span class="span"></span>Edit Menu</a>
                        <a routerLink="/adminview" routerLinkActive="active" [ngClass]="{'hide':!admin}"><span class="span"></span>adminView</a>
                    </div>
                    <div class="rightMenu">
                        <a [ngClass]="{'hide':!logged}" class="nick">{{nick}}</a>
                        <a routerLink="/bucket" routerLinkActive="active" [ngClass]="{'hide':!logged}"><span class="span"></span>Koszyk</a>
                        <a routerLink="/login" routerLinkActive="active" [ngClass]="{'hide':logged}"><span class="span"></span>Login</a>
                        <a routerLink="/register" routerLinkActive="active" [ngClass]="{'hide':logged}"><span class="span"></span>Register</a>
                        <a routerLink="/home" (click)="logout()" [ngClass]="{'hide':!logged}"><span class="span"></span>Logout</a>
                    </div>
                </div> 
            </nav>
        </div> 
        <div class="test">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer>© 2022 Copyright</footer>