
<div class="mainGrid">
    <div class="leftGrid" [ngClass]="{'roll':menuOpen}">
        <div class="menu-btn">
            <div class="menu-btn__burger" [ngClass]="{'open':menuOpen}"></div>
            <button (click)="toogle()" id="hamburgerBtn"> BTN </button>
        </div>
        <nav>
            <div class="menuGrid">
                <a routerLink="/home" routerLinkActive="active"><span></span>Strona Głowna</a>
                <a routerLink="/menu" routerLinkActive="active"><span></span>Menu</a>
                <a routerLink="/add" routerLinkActive="active"><span></span>Nowe danie</a>
                <a routerLink="/bucket" routerLinkActive="active"><span></span>Koszyk</a>
            </div> 
        </nav>
    </div> 
    <div>
        <router-outlet></router-outlet>
    </div>
</div>